/.gitignore @NatoBoram
/.vscode/ @NatoBoram
/assets/ @Faithful-Resource-Pack @InoxydableWrite
/LICENSE.txt @Faithful-Resource-Pack
/pack.mcmeta @InoxydableWrite
/pack.png @InoxydableWrite
/scripts/ @NatoBoram
